body {
    background-color: rgb(0, 83, 94);
    text-align: center;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
}

img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
}